- content_for(:sidebar) do
  = render :partial => 'shared/user_status'

  #hashtag_filter
    %h2= t('global.trending_tag')
    .tweets{:id => "tweets_fail"}
      = render :partial => 'welcome/tweets', :locals => { :tweets => @filtered_tweets, :name => "category" }

.lists_list
  %h2
    = t('category.title')

  .lists
    - @lists.each do |list|
      .list
        .body
          %h3= link_to list.name, list
          // %span.when= t('global.time_ago', :time => time_ago_in_words(list.created_at))
          .members= "#{pluralize(list.subscriptions.size, t('global.member'))}"
    %p
      = will_paginate @lists
