:javascript
  var _category = "#{@list.to_param}"

- content_for(:sidebar) do
  = render :partial => 'shared/user_status'

  #hashtag_filter
    %h2.smaller= t('category.create_list_title')

    .tweets
      .option-box
        - if signed_in?
          - form_tag create_on_twitter_list_path(@list) do
            %div
              = label_tag :name, t('global.name')
              = text_field_tag :name, @list.name
            %div
              = check_box_tag :mode
              = label_tag :mode, t('twitter.list.private')
            %div
              .right= submit_tag t('buttons.create')
        - else
          %p= t("category.create_list", :login => link_to(t('global.login'), login_path))

#category_show
  %h2= @list.name 

  .category
    .tweets
      %h2= t('title.last_tweets')
      - @tweets.each do |tweet|
        = render :partial => 'shared/tweet', :locals => { :tweet => tweet, :name => @list.id }


  .category
    .tweets
      %h2= t('title.last_members')
      - @users.each do |user|
        = render :partial => 'shared/user', :locals => { :user => user, :name => @list.id }
