#categories
  %h1= @list.name 
  - if signed_in?
    %p#twitter_create_list Create list to your twitter account from this category
    #twitter_create_list_form
      - form_tag create_on_twitter_list_path(@list) do
        = label_tag :mode, t('twitter.list.private')
        = check_box_tag :mode
        = label_tag :name
        = text_field_tag :name, @list.name
        = submit_tag t('buttons.create')

  .category
    .tweets
      %h2= t('title.last_tweets')
      - @tweets.each do |tweet|
        .tweet
          = link_to image_tag(tweet.user.photo), user_url(tweet.user.screen_name)
          .body
            = link_to h(tweet.user.screen_name), user_url(tweet.user.screen_name)
            %span.when= t('global.time_ago', :time => time_ago_in_words(tweet.created_at))
            = auto_link(tweet.text)
  .category
    .tweets
      %h2= t('title.last_members')
      - @users.each do |user|
        .tweet
          = link_to image_tag(user.photo), user_url(user.screen_name)
          .body
            = link_to h(user.screen_name), user_url(user.screen_name)
            %span.when= t('user.created_at', :time => time_ago_in_words(user.created_at))
