#categories
  %h1= @list.name 
  .category
    .tweets
      %h2= t('title.last_tweets')
      - @tweets.each do |tweet|
        .tweet
          = link_to image_tag(tweet.user.photo), user_url(tweet.user.screen_name)
          .body
            = link_to h(tweet.user.screen_name), user_url(tweet.user.screen_name)
            %span.when= t('tweet.created_at', :time => time_ago_in_words(tweet.created_at))
            = auto_link(tweet.text)
  .category
    .tweets
      %h2= t('title.last_members')
      - @users.each do |user|
        .tweet
          = link_to image_tag(user.photo), user_url(user.screen_name)
          .body
            = link_to h(user.screen_name), user_url(user.screen_name)
            %span.when= t('user.created_at', :time => time_ago_in_words(user.created_at))
