.fields
  .group
    = f.label :name, "Question", :class => :label
    = f.text_field :name, :class => 'text_field'
    %span.description

    .nested_form_fields
      - f.fields_for :poll_choices do |p|
        = render :partial => 'admin/polls/forms/poll_choice_fields', :locals => {:f => p}
      .add
        = link_to_add_fields "Add choice", f, :poll_choices, "admin/polls/forms/"

  .remove_field= link_to_remove_fields "remove", f
