.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_polls_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_poll_path
  .content
    %h2.title #{ t("web-app-theme.all", :default => "All") } Polls
    .inner
      %table.table
        %tr
          %th.first ID
          %th= t("activerecord.attributes.admin_poll.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @polls.each do |poll|
          %tr{:class => cycle("odd", "even")}
            %td= poll.id
            %td= link_to poll.name, admin_poll_path(poll)
            %td= poll.created_at
            %td.last
              = link_to t("web-app-theme.show", :default => "Show"), admin_poll_path(poll)
              |
              = link_to t("web-app-theme.edit", :default => "Edit"), edit_admin_poll_path(poll)
              |
              = link_to t("web-app-theme.delete", :default => "Delete"), admin_poll_path(poll), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions
        
- content_for :sidebar, render(:partial => 'sidebar')