- title t('.page_title')
- seo_description t('.seo_description')
- seo_keywords t('.seo_keywords')

- content_for(:sidebar) do
  = render :partial => 'shared/user_status'
  = render :partial => 'shared/member_counter'
  = render :partial => 'shared/trending_tags'
  = render :partial => 'shared/hashtag_filter'  

.users_list
  %h2= t('user.title')

  .users
    - @users.each do |user|
      .tweet{:id => "tweet_users-#{user.id}"}
        = link_to image_tag(user.photo), twitter_path(user.screen_name), :target => "_blank"
        .body
          = link_to h(user.screen_name), twitter_path(user.screen_name), :target => "_blank"
          = "(#{user.name})"
          %span.when= t('user.created_at', :time => time_ago_in_words(user.created_at))
          //%br= user.location unless user.location.blank?
          //%br= link_to user.url, user.url, :target => "_blank" unless user.url.blank?
          .categories
            %b= t('global.categories')
            = user.categories.map { |category| link_to category.name, category }.join(', ')
        .clear
        .info{:id => "info_users-#{user.id}"}
          .bio
            %b= t('global.bio')
            = user.description
          .location
            %b= t('global.location')
            = user.location
          .web
            %b= t('global.web')
            = link_to user.url, user.url

        .handle
          &nbsp;          
    %p
      = will_paginate @users
