#trends
  %h2
    .title= t('trends.title')
    .filters
      = link_to t('global.trend_filters.today_short'), nil, "data-period" => '1', :title => t('global.trend_filters.today') 
      = link_to t('global.trend_filters.this_week_short'), nil, "data-period" => '7', :title => t('global.trend_filters.this_week')
      = link_to t('global.trend_filters.this_month_short'), nil, "data-period" => '30', :title => t('global.trend_filters.this_month')
      = link_to t('global.trend_filters.archive_short'), nil, "data-period" => 'archive', :title => t('global.trend_filters.archive')
      .clear
        
  .topics
    = render :partial => 'shared/trending_topics'

  .all_trends
    .option-box
      = link_to t('trends.view_all'), tags_path
