.user{:id => "tweet_user-#{user.id}-#{name}"}
  = link_to image_tag(user.photo), twitter_path(user.screen_name)
  .follow
    - if current_user && current_user.follows_user?(user)
      = "following!"
    - else
      = "follow me"

  .body
    %span.who= "@#{user.screen_name}"
    %span.when= t('user.created_at', :time => time_ago_in_words(user.created_at))
    .categories
      %b= t('global.categories')
      = user.categories.map { |category| link_to category.name, category }.join(', ')
  .clear

  .info{:id => "info_user-#{user.id}-#{name}"}

    - if user.description
      .bio
        %b= t('global.bio')
        = user.description

    - if user.location
      .location
        %b= t('global.location')
        = user.location

    - if user.url
      .web
        %b= t('global.web')
        = link_to user.url, user.url
    //.when= t('user.created_at', :time => time_ago_in_words(user.created_at))

  .handle
    &nbsp;
   
