.users
  / FIXME: Ugly hack
  - list = List.find_by_name(list_name)
  - members = TWITTER_HTTP_AUTH.members_from_list(list)
  - members.each do |member|
    .tweet
      = link_to image_tag(member.profile_image_url), user_url(member.screen_name)
      .body
        = link_to h(member.screen_name), user_url(member.screen_name)
        %span.when= t('user.created_at', :time => time_ago_in_words(member.created_at))
        = t('user.has_written')
        = pluralize(member.statuses_count, t('user.tweet'))