- title t('.page_title')
- seo_description t('.seo_description')
- seo_keywords t('.seo_keywords')

- content_for(:sidebar) do
  = render :partial => 'shared/user_status'
  = render :partial => 'shared/member_counter'
  = render :partial => 'shared/trending_tags'
  = render :partial => 'shared/hashtag_filter'
    

#categories
  - middle = @categories.size.div(2)
  .left-column
    = render :partial => 'shared/categories', :locals => { :categories => @categories, :start_index => 0, :end_index => middle }

  .right-column
    = render :partial => 'shared/categories', :locals => { :categories => @categories, :start_index => middle, :end_index => @categories.size }
