- content_for(:sidebar) do
  .user
    - unless signed_in?
      = link_to t('global.login'), login_path, :method => :post
    - else
      = "Yo #{link_to current_user.screen_name, twitter_path(current_user.screen_name), :target => "_blank"}!"
      = link_to t('global.tweet'), nil, :id => "tweet_link", :class => "modalInput", :rel => "#tweet"
      = link_to t('global.settings'), settings_path
      = link_to t('global.logout'), logout_path

  #hashtag_filter
    %h2 #Fail
    = render :partial => 'tweets', :object => @filtered_tweets

#categories
  - @lists.each_with_index do |list, index|
    .category{:id => "category_#{list.id}"}
      %h2
        = link_to list.name, list
        .tabs
          = link_to_function t('category.tweets'), "switch_to_tweets('category_#{list.id}')", :class => 'tweets_link selected'
          = link_to_function t('category.users'), "switch_to_users('category_#{list.id}')", :class => 'users_link'
      = render :partial => 'tweets', :object => @lists_tweets[list.name]
      = render :partial => 'users', :object => @lists_users[list.name]
    - if (index + 1) % 2 == 0
      %div{:style => "clear:both"}
