- content_for(:sidebar) do
  = render :partial => 'shared/user_status'
  = render :partial => 'shared/member_counter'

  = render :partial => 'shared/trending_tags'

  #hashtag_filter
    %h2= G140[:today_topic]
    .tweets{:id => "tweets_fail"}
      = render :partial => 'welcome/tweets', :locals => { :tweets => @filtered_tweets, :name => "fail" }
      = periodically_call_remote(:url => { :controller => 'tweets', :action => 'refresh', :category_id => 'fail' }, :update => "tweets_fail", :complete => "reBindOverlays()")

#categories
  - middle = @categories.size.div(2)
  .left-column
    = render :partial => 'shared/categories', :locals => { :categories => @categories, :start_index => 0, :end_index => middle }

  .right-column
    = render :partial => 'shared/categories', :locals => { :categories => @categories, :start_index => middle, :end_index => @categories.size }
