- content_for(:sidebar) do
  = render :partial => 'shared/user_status'

  #hashtag_filter
    %h2= t('global.failtag')
    .tweets{:id => "tweets_fail"}
      = render :partial => 'welcome/tweets', :locals => { :tweets => @filtered_tweets, :name => "fail" }
      = periodically_call_remote(:url => { :controller => 'tweets', :action => 'refresh', :list_id => 'fail' }, :update => "tweets_fail")

#categories
  - middle = @lists.size.div(2)
  .left-column
    = render :partial => 'shared/lists', :locals => { :lists => @lists, :start_index => 0, :end_index => middle }


  .right-column
    = render :partial => 'shared/lists', :locals => { :lists => @lists, :start_index => middle, :end_index => @lists.size }
        
-#    - if (index + 1) % 2 == 0
-#      %div{:style => "clear:both"}
