- content_for(:sidebar) do
  = render :partial => 'shared/user_status'

%script
  = "var _subscriptions_per_user = #{G140[:subscriptions_per_user]};"

#category_chooser
  %h2= t('settings.select_categories')
  #draggable
    - @not_selected_lists.each do |list|
      %span{:id => "list_#{list.id}"}= list.name

  .action-area
    #droppable
      - @selected_lists.each do |list|
        %span{:id => "list_#{list.id}"}= list.name

    %p= t('settings.select_categories_info')    
- if params[:new_user] == 'true'
  .box
    %h2= t('settings.next_action')
    .rounded_box
      = link_to t('user.to_tweet_area'), root_path, :class => 'item'
- else
  .box
    %h2= t('settings.deactivate')
    .rounded_box
      = link_to t('user.deactivate'), deactivate_path, :class => 'item'
