%script
  = "var _subscriptions_per_user = #{G140[:subscriptions_per_user]};"

%h2= t('settings.select_categories')

%p= t('settings.select_categories_info')

%div#draggable
  - @not_selected_lists.each do |list|
    %span{:id => "list_#{list.id}"}= list.name

%div#droppable
  - @selected_lists.each do |list|
    %span{:id => "list_#{list.id}"}= list.name

%h2= t('settings.deactivate')
= link_to t('user.deactivate'), deactivate_path
