- title "##{@tag.name}"
// - seo_description t('.seo_description')
// - seo_keywords t('.seo_keywords')

:javascript
  var _current_id = "#{@tag.to_param}"

- content_for(:sidebar) do
  = render :partial => 'shared/user_status'
  = render :partial => 'shared/trending_tags'
  //= render :partial => 'shared/hashtag_filter'

#category_show
  %h2
    = @tag.name
    .counter= t('category.subscribed_users_count', :count => @tag.users.size)

  .category
    .tweets
      %h2= t('title.last_tweets')
      - @tweets.each do |tweet|
        = render :partial => 'shared/tweet', :locals => { :tweet => tweet, :name => @tag.id }


  .category
    .tweets
      %h2= t('title.tweeted')
      - @users.each do |user|
        = render :partial => 'shared/user', :locals => { :user => user, :name => @tag.id }
