%h1
  = t('category.subscriptions')

%p
  - if @subscriptions.empty?
    = t('subscriptions.subscribe_message')
  - else
    = t('subscriptions.subscribed_message')
    - @subscriptions.each do |subscription|
      = link_to subscription.list.name, subscription.list
      (
      = link_to t('global.delete'), subscription, :confirm => t('messages.confirm'), :method => :delete
      )

= t('subscriptions.edit')
  - form_tag subscriptions_path do
    - G140[:max_lists].times do |i|
    %p
      = select_tag :"lists[id#{i}]", options_for_select(@lists, @selected_lists[i])
  %p
    = submit_tag t('global.edit')

