<h1><%= t('subscriptions.new') %></h1>

<% form_for(@subscription) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :list_id %><br />
    <%= f.collection_select :list_id, List.find(:all, :order => 'name ASC'), :id, :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to t('global.back'), subscriptions_path %>
