- title t('.page_title')
- seo_description t('.seo_description')
- seo_keywords t('.seo_keywords')

- content_for(:sidebar) do
  = render :partial => 'shared/user_status'
  = render :partial => 'shared/hashtag_filter'
  = render :partial => 'shared/trending_tags'

.categories_list
  %h2
    = t('category.title')

  .categories
    - @categories.each do |category|
      .list
        .body
          %h3= link_to category.name, category
          // %span.when= t('global.time_ago', :time => time_ago_in_words(list.created_at))
          .members= "#{pluralize(category.subscriptions.size, t('global.member'))}"
    %p
      = will_paginate @categories
