- content_for(:sidebar) do
  = render :partial => 'shared/user_status'
  = render :partial => 'shared/member_counter'  

  = render :partial => 'shared/trends'

  #hashtag_filter
    %h2= G140[:today_topic]
    .tweets{:id => "tweets_fail"}
      = render :partial => 'welcome/tweets', :locals => { :tweets => @filtered_tweets, :name => "category" }

.categories_list
  %h2
    = t('category.title')

  .categories
    - @categories.each do |category|
      .list
        .body
          %h3= link_to category.name, category
          // %span.when= t('global.time_ago', :time => time_ago_in_words(list.created_at))
          .members= "#{pluralize(category.subscriptions.size, t('global.member'))}"
    %p
      = will_paginate @categories
