!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'    
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.tools.min', 'charCount', 'jquery.masonry.min'
    %link(rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico")
    %title
      = G140[:site_name]
  %body.two-column{:id => "#{controller.controller_name}_#{controller.action_name}"}
    #header
      .logo
        - link_to "/" do
          %h1= G140[:site_name]

      .navigation
        = render_navigation

    .clear

    .content-wrapper
      #main-content
        - unless flash[:error].blank?
          %div#flash.error
            = flash[:error]
        - unless flash[:notice].blank?
          %div#flash.notice
            = flash[:notice]
        = yield

      #sidebar
        .content
          = yield(:sidebar)

      #root-footer
        &nbsp;

      .clear

    .clear
    #footer
      .wrapper
        .left
          %div
            %b Concept & Idea:
            @darko156, @kuzevski
          %div
            %b Design:
            @drown, @arsovski
          %div
            %b Development:
            @VortexDNR, @blackflasher 
        .right
          %b 140.mk
          |
          (Верзија 0.3.0)
        .clear

    = render :partial => "shared/tweet_box"

    = render :partial => "shared/ga"   

