!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'
    %link(rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico")
    %title
      = SITE_TITLE
  %body.two-column
    #header
      .logo
        %h1= SITE_TITLE
      .navigation
        = render_navigation
        
    #main-content
      .content
        = yield

    #sidebar
      .content
        - unless signed_in?
          = link_to 'Login', session_path, :method => :post
        - else
          = "Yo #{link_to current_user.screen_name, my_tweets_path}!"
          %br
          = link_to "tweets", tweets_path
          |
          = link_to "subscriptions", subscriptions_path
          |
          = link_to "logout", session_path, :method => :delete

    #footer
