!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'    
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.2.custom.min'
    = javascript_include_tag 'jquery.tools.min', 'charCount', 'jquery.masonry.min', 'jintastic'
    = javascript_include_tag 'jrails', 'application'
    %link(rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico")
    %title
      = "#{yield(:title)} #{G140[:site_name]}"
    %meta(name="keywords" content="#{yield(:seo_keywords)}")
    %meta(name="description" content="#{yield(:seo_description)}")
    
  %body.two-column{:id => "#{controller.controller_name}_#{controller.action_name}"}
    #header
      .logo
        - link_to "/" do
          %h1= G140[:site_name]

      .navigation
        = render_navigation

    .clear

    .content-wrapper
      #main-content
        - unless flash[:error].blank?
          %div#flash.error
            = flash[:error]
        - unless flash[:notice].blank?
          %div#flash.notice
            = flash[:notice]
        = yield

      #sidebar
        .content
          = yield(:sidebar)

      #root-footer
        &nbsp;

      .clear

    .clear
    #footer
      .wrapper
        .left
          %div
            %b Concept & Idea:
            @darko156, @kuzevski
          %div
            %b Design:
            @drown, @arsovski
          %div
            %b Development:
            @VortexDNR, @blackflasher
          %div
            %b Beta testing:
            @zuberot, @turpis
        .right
          %b= link_to '@140mk', 'http://twitter.com/140mk'
          |
          = t('global.latest_version', :version => G140[:latest_version])
        .clear

    = render :partial => "shared/tweet_box"
    // = render :partial => "shared/get_satisfaction_widget"
    = render :partial => "shared/ga"   

