!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'
    = javascript_include_tag :defaults
    %link(rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico")
    %title
      = G140[:site_name]
  %body.two-column
    #header
      .logo
        - link_to "/" do
          %h1= G140[:site_name] 
          
      .navigation
        = render_navigation

      .user
        - unless signed_in?
          = link_to t('global.login'), login_path, :method => :post
        - else
          = "Yo #{link_to current_user.screen_name, twitter_path(current_user.screen_name), :target => "_blank"}!"
          = link_to t('global.settings'), settings_path
          = link_to t('global.logout'), logout_path
        
    #main-content
      - unless flash[:error].blank?
        %div#flash.error
          = flash[:error]
      - unless flash[:notice].blank?
        %div#flash.notice
          = flash[:notice]
      = yield

    #sidebar
      .content
        &nbsp;
        = yield(:sidebar)

    #footer
      %b 140.mk
      |
      (Верзија 0.0.2)
